body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: auto;
  width: 95%;
  margin: 20px 0;
  padding: 10px;
}

.productList {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.product {
  margin: 10px;
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  flex: 0 0 auto; /* Prevent flex-grow, shrink only */
}

.product h3 {
  margin: 0;
  font-size: 18px;
}

.product button {
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.cartArea {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
}

.cartArea button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reviewForm {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  margin-left: 20px; /* Add space between cart and review form */
}

.reviewForm h2 {
  margin: 0 0 10px 0;
}

.reviewForm input,
.reviewForm textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.reviewForm button {
  padding: 10px;
  font-size: 16px;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
